<ion-header>
  <toolbar>
    <ion-icon (click)="GoBackToProfile()" class="iconBack" size="large" name="chevron-back-sharp"></ion-icon>
  </toolbar>

</ion-header>

<ion-content >
    <img class="imgLogo" src="../../assets/logo-circle.png" alt="logo do motivate">


  <ion-grid>

    <ion-row >
      <ion-col>
        <div class="ion-text-center">
          <h3 >Crie um desafio</h3>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>


    <div class="divForm">
      <form [formGroup]="challengeForm" (ngSubmit)="onSubmit(challengeForm)" class="background">

            <div class="form-group">
              <ion-label >Título</ion-label>
              <ion-input type="text" formControlName="title" class="bordaInferior" ></ion-input>
            </div>

            <div class="form-group">
              <ion-label>Descrição</ion-label>
              <ion-textarea formControlName="description" ></ion-textarea>
              <ion-row>
                <ion-col>
                  <div class="ion-text-end">
                    <p>máx. 500 caracteres</p>
                  </div>
                </ion-col>
            </ion-row>
            </div>


            <div class="form-group">
              <ion-label>Saiba Mais</ion-label>
              <ion-textarea formControlName="about" ></ion-textarea>
              <ion-row>
                <ion-col>
                  <div class="ion-text-end">
                    <p>máx. 300 caracteres</p>
                  </div>
                </ion-col>
            </ion-row>
            </div>

          <div class="form-group">
              <ion-label>Recomendações</ion-label>
              <ion-textarea formControlName="recomendation" ></ion-textarea>
              <ion-row>
                <ion-col>
                  <div class="ion-text-end">
                    <p>máx. 500 caracteres</p>
                  </div>
                </ion-col>
            </ion-row>
          </div>

            <ion-row class=ion-justify-content-center>
              <ion-button type="submit" class="botao" shape="round" (click)="createChallenge(challengeForm)" [disabled]="challengeForm.invalid" >Criar</ion-button>
            </ion-row>



    </form>
  </div>


</ion-content>
