ion-toolbar{
  --background:#123C62;
}

.toolbar{
   margin-top: 1%;
   margin-bottom: 2%;
   margin-left: 17%;
   margin-right: 10%;
}

.segmentColor{
    --background: white;
    border-radius: 200px;
    width: 90%;
    margin: 6%;
}
.div {
    color:white;
}

ion-button{
    margin: 6% 10% 6% 8%;
}
.following{
    margin-left: 20%;
}
ion-item{
    border-radius: 20px;
}
