
<ion-content>

  <div class="toolbar">
    <img src= "../../assets/wave.png"  alt="logo do motivate" >
    </div>

    <ion-row class="ion-align-items-center"> 
      <ion-col size="6">
        <div class="ion-text-center">
          <!-- <h2 *ngIf="usuario"> {{usuario.name}}</h2> -->
          <h2 > Gabriela Mattos</h2>
        </div>
        
      </ion-col>
      <ion-col size="4" class="ion-margin-start">
        <div class="divFoto">
          <!-- <p> {{usuario.bio}} </p> -->
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ">
      <ion-col size="10">
        <p>Sobre mim:</p>
        <div class="divBio">
          <p>Adoro comida saudavel, ser fitness é demais!</p>
        </div>
      </ion-col>
      
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <h5>altere seu email</h5>    
      </ion-col>
    </ion-row> -->

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="9">
        <p>gabimattos83@gmail.com</p>
      </ion-col>

      <ion-col size="2">
        <ion-icon name="pencil-sharp"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-button  class="buttonEdit">
          Salvar
        </ion-button>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-button  class="buttonEdit">
          Deletar conta
        </ion-button>
    </ion-row>

 

</ion-content>
