ion-toolbar{
  --background: #123C62;
}

.close{
    margin-right: 6%;
}

p{
    text-align: center;
    font-weight: bold;
    color: #C3EAE8;
    font-size: 36px;
    margin-top: 20%;
    margin-left: 6%;
    margin-right: 6%;
}

img{
    margin-top: 5%;
    margin-left: 6%;
    margin-right: 6%;
}
.challengeAlign{
    margin-top:0;
    padding-top: 0;
}
.cardAlign{
    margin-bottom: 0;
    padding-bottom: 0;
}
