<ion-chip size="medium">
    <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>{{recipe.user_name}}</ion-label>
</ion-chip>

<div shape="round" class="postFormat" (click)="clickToSeeRecipe(recipe.id)">
    <h5 class="title"> {{recipe.title}} </h5>
    <img class="img" src="../../assets/cake.png">
<div class="subtitleMargin"> {{recipe.subtitle}}</div>
<div class="postInfo">
    <div class="challenge"> <h3> Desafio </h3> </div>
    <div class="like"> <ion-icon name="heart" size="large"> </ion-icon> </div>
</div>

</div>
<!--(click)="clickToSee(challenge.id) -->
