
//Topo do post com info do usuario //
ion-chip{
    margin: 5px 40px 10px 40px;
}

ion-label{
    color:black;
    font-weight: bold;
}
//CSS do post //

.postFormat{
    margin: 5% 10% 25% 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-style: solid;
    border-radius: 20px;
    border-color: #04C58B;
}
.title {

    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
    padding-bottom: 10px;
    color:black;
    text-align: center;
    font-size: 19px;
}

.img {
    width: 100%;
}

.subtitleMargin{
    margin: 7%;
}

.postInfo {
	max-width: 30%;
	display: flex;
}

.challenge {
	margin: 1%;
	text-align: center;
	font-size: 1.5em;
    flex: 1;
}

h3{
    width: 30vw;
    margin: 0;
}

.like {
	margin: 1%;
	font-size: 1.5em;
    flex: 1;
}

ion-icon {
    color: #04C58B;
}
