.chipMargin{
    margin: 5% 10% 0% 50% ;
    padding-top: 6px;
}


.commentFormat{
    background-color: #D4FF9C;
    border-radius: 10px;
    margin: 2% 10% 10% 10% ;
    padding-top: 6px;
    padding-bottom: 3%;
}

.commentMargin{
    margin: 4%;
}
