<ion-header>
  <ion-toolbar>
      <div class="toolbar">
        <img src="../assets/logo.png" class="logo" alt="logo do motivate" >
            <img src="../assets/motivatemotivate.png" class="motivate" alt="motivate com fonte poppins">
        </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Postagens -->
    <ion-grid>
        <ion-row class="button ion-justify-content-between" >
                <ion-button shape="round" class="login" size="medium"> Login </ion-button>
                <ion-button shape="round" class="register" size="medium"> Cadastrar </ion-button>
        </ion-row>
    </ion-grid>

<!--
            <div *ngIf="usuarioLogado">
                Olá João
            </div>
         -->

         <app-posts > </app-posts>
         <app-posts > </app-posts>
         <app-posts > </app-posts>

</ion-content>
