ion-content{
    --background:white;
    --color: black;
}

//CSS do botao de login e cadastro//
.button{
   margin-top:2%;
}
.login{
    margin-right: 0%;
    margin-left: 10%;
    color: black;
    font-weight: bolder;
}
.register{
    margin-left: 6%;
    margin-right: 10%;
    color: black;
    font-weight: bolder;
}

ion-button{
    --background:#DCFF78;
    width: 35%;
}
//Texto do home logado //
h4 {
    margin: 30px 10px 30px 35px;
}

//Posts //
.postMargin{
    margin-top: 10%;
    margin-bottom: 20%;
}
