
<ion-card id="cardBackground">
    <div class="text">
                <h5 style="bold"> Desafio low carb </h5>
                <ion-button shape="round"> Participar </ion-button>
    </div>
    <div class="image">
        <img style="float: right" src="../../assets/lowcarb.jpg" alt="pirâmide alimentar">
    </div>
</ion-card>

<!-- Desafio redução de açúcar -->

<ion-card id="cardBackground">
    <div class="text">
                <h5 style="bold"> Desafio redução de açúcar </h5>
                <ion-button shape="round"> Participar </ion-button>
    </div>
    <div class="image">
        <img style="float: right" src="../../assets/sugarFree.jpg" alt="coração com escrita sugar free">
    </div>
</ion-card>

<!-- Desafio veganismo -->

<ion-card id="cardBackground">
    <div class="text">
                <h5 style="bold"> Desafio Veganismo </h5>
                <ion-button shape="round"> Participar </ion-button>
    </div>
    <div class="image">
        <img style="float: right" src="../../assets/goVegan.jpg" alt="pirâmide alimentar">
    </div>
</ion-card>
