<div class="backgroundTop">
  <div class="toolbar">
      <ion-icon (click)="GoToHome()" name="chevron-back-outline" size="large" style="float: left" class="iconColor"></ion-icon>
  </div>
</div>

<ion-content *ngIf="user">
  <div class="toolbar">

    <img src= "../../assets/wave.png"  alt="logo do motivate" >
  </div>


  <ion-row class="ion-align-items-center ion-justify-content-evenly">
    <ion-col size="4">
        <div class="ion-text-center">
          <h2 >{{user.name}}</h2>
        </div>
        <ion-row class="ion-margin-start">
            <ion-button (click)="followUser()" size="small" shape="round" color="success">
             {{followMode ? "Seguindo" : "Seguir"}}
            </ion-button>
        </ion-row>
      </ion-col>

      <ion-col size="4" class="ion-margin-start">
        <div class="divFoto">
            <img src="../assets/userPhoto.png">
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-evenly ion-margin-top">

      <ion-col size="4">
        <div class="ion-text-center">
          <a>Seguidores</a>
          <p>{{user.followers}}</p>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="ion-text-center" >
          <a>Seguindo</a>
          <p>{{user.following}}</p>
        </div>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p>Sobre mim:</p>
        <div class="divBio">
          <p>{{user.aboutme}}</p>
        </div>
      </ion-col>

    </ion-row>

    <!-- <div>
      <app-recipes-list [recipe]="recipe" (clickSeeRecipe)="navigateToRecipe($event)" *ngFor="let recipe of recipes"> </app-recipes-list>
  </div> -->
</ion-content>
