ion-content{
    margin-top: 0%;
    --color:black;
  }

  .toolbar{
    margin: 0%;
}

  .divBio{
    border: 1px solid green;
    border-radius: 10px;;
  }

  .divFoto{
   margin-right: 3% ;
  }

  .backgroundTop{
    background-color: #72F9A8;
}
.iconColor{
  color: #0E6258;
}
