<ion-content *ngIf="usuario">
    <div class="toolbar">
      <img src= "../../assets/wave.png"  alt="logo do motivate" >
      </div>

  <ion-row class="ion-align-items-center ion-justify-content-evenly">
    <ion-col size="4">
      <div class="ion-text-center">
        <h4> {{usuario.name}} </h4>
      </div>
      <ion-row size="1" class="ion-margin-start">
        <ion-button class="ion-text-center" size="small" shape="round" color="success" (click)="GoToEditProfile()">
          Editar
        </ion-button>
      </ion-row>
    </ion-col>

    <ion-col size="4" class="ion-margin-start">
      <div class="divFoto">
        <img src="../assets/userPhoto.png">
      </div>
    </ion-col>

  </ion-row>

  <ion-row class="ion-justify-content-evenly ion-margin-top">

    <ion-col size="4">
      <div class="ion-text-center">
        <a>Seguidores</a>
        <p>{{usuario.followers}}</p>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="ion-text-center" >
        <a>Seguindo</a>
        <p>{{usuario.following}}</p>
      </div>
    </ion-col>

  </ion-row>


  <ion-row class="ion-justify-content-center ">
    <ion-col size="9">
      <p>Sobre mim:</p>
      <div class="divBio">
        <p>{{usuario.aboutme}}</p>
      </div>
    </ion-col>
  </ion-row>
      <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
        <ion-fab-button (click)="GoToCreateChallenge()" color="success">
          <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  <ion-row class="ion-justify-content-center ">
    <ion-col size="9">
      <p>Minhas receitas:</p>
    </ion-col>
  </ion-row>
      <div class="recipesListMergin">
        <app-recipes-list (clickSeeRecipe)="navigateToRecipe($event)" [recipe]="recipe" *ngFor="let recipe of recipes"> </app-recipes-list>
      </div>

      <ion-row class="ion-justify-content-end">
        <ion-col size="4">
          <ion-button size="small" shape="round" color="success" (click)="logout()">
            Sair
          </ion-button>
        </ion-col>
      </ion-row>


</ion-content>
