ion-content{
  --background: white;
  --color:black;
}

.divBio{
  border: 1px solid green;
  border-radius: 10px;;
}

.divFoto{
  border: 1px solid green;
  border-radius: 60px;;
}

.buttonEdit{
  --background: rgb(8, 68, 8);

}
.toolbar{
    background-color: white;
    
}
