<ion-header>
  <ion-toolbar>
      <div class="toolbar">
          <ion-icon name="chevron-back-outline" size="large" style="float: left" class="back"></ion-icon>
          <ion-icon name="close-outline" size="large" style="float: right" class="close"></ion-icon>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="title">Desafio low carb</div>
        <div>
            <img  class="img" src="../../assets/cake.png">
        </div>
<!-- Participantes slide -->
        <div class="subtitles"> Participantes </div>
             <ion-slides pager="true" :options="slideOpts">
                 <ion-slide>
                     <ion-avatar> <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> </ion-avatar>
                     <ion-avatar> <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> </ion-avatar>
                     <ion-avatar> <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> </ion-avatar>
                     <ion-avatar> <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> </ion-avatar>
                 </ion-slide>
                 <ion-slide>
                     <ion-avatar> <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> </ion-avatar>
                     <ion-avatar> <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> </ion-avatar>
                     <ion-avatar> <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> </ion-avatar>
                     <ion-avatar> <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> </ion-avatar>
                 </ion-slide>
             </ion-slides>

 <!-- Descrição -->
                <div class="subtitles"> Descrição : </div>
                    <ion-card>
                        <div class="description">
                            <div class="text">
                                O desafio low carb tem o objetivo de reduzir o consumo de carboidratos na alimentação, da batata até pizza. Porém, a redução será aos poucos para criar o hábito de  comer menos carboidratos.
                            </div>
                            <div>
                                1º Semana: Substituir sobremesas que tenham carboidrato por frutas.
                            </div>
                            <div>
                                2º Semana: Reduzir a quantidade de carboidrato na janta.
                            </div>
                            <div>
                                3º Semana: Comer apenas um tipode carboidrato na janta.
                            </div>
                        </div>
                    </ion-card>

<!-- Receitas -->
                <div class="subtitles"> Receitas : </div>
 <app-recipes-list> </app-recipes-list>
</ion-content>
