ion-content{
    --background:linear-gradient(#16C28F, #DCFF78);
    font-family: 'Montserrat', sans-serif;
}

ion-icon{
    color: #123C62;
}
.toolbar{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    margin: 3%;
}

.back{
    size: 30px;
    margin-left: 2%;
    color:#0E6258;
}

h3 {
    font-weight: bold;
    font-size: 25px;
}

ion-label{
    display:inline-block;
    padding-top:5%;
    color: black;
    font-weight: bolder;
    font-size: 1.1em;
}

ion-item ion-label{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

ion-radio{
    --color-checked: black;
    --color:black;
    border: none;
}

.errorMargin{
    margin-top: 2%;
}

a{
    color: #3C3C3C;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

.divForm{
    width: 80%;
    margin-left: 10%;
    margin-top: 0%;
}


.divRadio{
    margin-top:5%;
    width: 70vw;
    border-radius: 8px;
    border: 2px solid white;
    margin-left: 15%;

}

.bordaInferior{
    border-bottom: 0.095em solid #000000;
}

.transparencia{
    --background: #ffffff00;
}

.tamanhoTexto{
    font-size: 1em;
}

.botao{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 70vw;
    font-family: 'Montserrat', sans-serif;

}
