ion-content{
    --background:linear-gradient(#10A7A1, #123C62);
}

ion-label{
    background-color: transparent;
    display:inline-block;
    padding-top:5%;
    color: #FFFFFF;
    font-size: 1.1em;
}

.bordaInferior{    
    border-bottom: 0.095em solid #FFFFFF;
}


ion-radio{
    --color-checked: black;
    --color:black;
    border: none;
}

.divRadio{
    margin-top:5%;
    width: 70vw;
    border-radius: 8px;
    border: 2px solid white;
    margin-left: 15%;
}


ion-item{
    color: white;
}


.transparencia{
    --background: #ffffff00;
}

.divForm{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.divLogo{
    width: 20vw;
}
.divMotivate{
    width: 30vw;
}

.tamanhoTexto{
    font-size: 1em;
}

.botao{
    margin-top: 10%;
}

